* {
  box-sizing: border-box;
}
.image{
		background: url('images/jjj.jpg');
			background-size: cover;
			background-position: center;
			height: 1000px;
			left: 0;
			right:0;
			position: fixed;
			filter: blur(5px);
			-webkit-filter: blur(5px);
			z-index: -10;			
}
.container
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: black;
	text-align: center;
	font-family: Comic Sans MS;
}
h1
{
	text-align: center;
	color: #0B0B61 !important;
	padding-bottom: 10px;
	margin-top: 20px;

}
h1::after
{
	background: #007bff;
	height: 3px;
	width: 170px;
	margin: 40px auto 10px;
	font-size: 10px;
	font-family: Comic Sans MS;
}
.profile-pic
{
	margin-top:25px;
}

.img-responsive
{
	width: 300px;
	height: 300px;	
}
.column {
  float: left;
  width: 33.33%;
  padding: 20px;
  padding-bottom: 10px;  
}
.textOverImage
{
	position:relative;
	width: 300px;
	height: 300px;
	float: left;
	margin: 4px;
	background-size: 100%;
	background-position:center;
	
}
.textOverImage:hover
{
	background-size: 110%;
	transition:0.7s;
}

.textOverImage:after{
	position: absolute;
	top:90%;
	bottom: 0;
	left: 0;
	right: 0;
    white-space: pre-wrap;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6);
	color:#fff;
	padding: 0 8px;
	opacity:0;
	content:attr(data-text);
	transition:0.7s;


}
.textOverImage:hover:after{

	opacity:1;
	top:0;
	padding:8px;
}
.textOverImage:first-line{
	
	color: #fff;
	font-weight: bold;
	font-size: 0.45cm;
	
	
}
.btn
{
	margin-top: 2px;
    margin-bottom: 20px;
	margin-right: 20px;
}